@import url('https://fonts.googleapis.com/css?family=Quicksand');


nav {
    background: transparent;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: large;
    font-weight: 100;
    letter-spacing: 2px;
    
    display:flex;
    align-self: flex-start;
}
nav a {
    width: 100%;
    display: inline-block;
    padding: 20px 5px;
    text-decoration: none;
    flex: 1;  
}

#title {
    margin: 20px;
    margin-top: 150px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    color: #FFF;
}


.background-Image {
    background-color: teal;
    top: 0;
    left: 0;
    background-image: url("./backgroundImage.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}

#menu-bar {
    position: fixed;
    top: 200px;
    left: 100px;
    width: 200px;
    height: 500px;
    border: 1px solid rgb(255, 255, 255);
}

.menu-button {
    padding-left: 50px;
    padding-right: 50px;
    color: #FFF;
    /* border: 1px solid #003c8a;
    background-color: #003c8a; */
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.5s;
    border-radius: 10px;
    font-family: 'Acme', sans-serif;
}

.menu-button:hover {
    border: 1px solid #AAAAAA;
    background-color: #777777;
}

#contents-frame {
    border: 10px solid #AAAAAA;
}

.contents {

}