


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.background-Image {
    background-color: teal;
    top: 0;
    left: 0;
    background-image: url("./backgroundImage.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* z-index: -1;
    animation: fadeIn 1s linear; */
}

.menu-bar {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 200px;
    height: 500px;
    border: 1px solid rgb(FF, FF, FF);
}

